img {
    height: auto;
    max-width: 100%;
}

.text-voilet {
    color: #9a8bb8;
}

.home-area {
    height: 800px;
    z-index: 1;
}

.bg-voilet {
    background: #6a2de3;
}

.home-thumb {
    max-width: 300px;
    padding-top: 70px;
}

.bg-overlay,
.overlay-dark {
    position: relative;
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
}

.fw-3 {
    font-weight: 300;
}

.home-area .shape-bottom {
    z-index: -1;
}

.shape-bottom {
    position: absolute;
    top: auto;
    bottom: -7px;
    left: 0;
    right: 0;
}

.button-group {
    margin-top: 30px;
}

.store-buttons img {
    max-width: 190px;
}

.store-buttons a {
    text-align: left;
}

.button-group a {
    margin-right: 10px;
}

.our__team_section h3 {
    text-transform: uppercase;
    font-weight: 900;
}

.our__team_section p {
    max-width: 700px;
    font-size: 14px;
}

.team-section a {
    display: inline-block;
}

.team-section img {
    height: 300px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}

.team-section .teamBox {
    top: 5%;
    width: 90%;
    height: 90%;
    left: 5%;
    display: flex;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.308);
    flex-direction: column;
    justify-content: center;
    transition: .2s linear;
    align-items: center;
    background-color: #fff;
    transform: scale(0);
    padding: 15px
}

.team-section .teamBox h4 {
    color: #000;
    font-size: 18px;
}

.team-section .teamBox p {
    color: #000
}

.team-section ul li:hover .teamBox {
    transform: scale(1);
}

.team-section ul {
    text-align: center;
}

.team-section ul li {
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.308);
    position: relative;
    transition: .5s ease-in-out;
}

.team-section ul li:hover {
    z-index: 99999;
    transform: translateY(-10px);
}

.team-section ul li:nth-child(1) {
    max-width: 25%;
    margin: 0 15px;
    top: 80px;
}

.team-section ul li:nth-child(2) {
    margin: 0 15px;
    max-width: 25%;
    top: 150px;
}

.team-section ul li:nth-child(3) {
    max-width: 25%;
    margin: 0 15px;
}

.team-section ul li:nth-child(4) {
    max-width: 20%;
    margin: 0 25px;
    top: -20px
}

.team-section ul li:nth-child(5) {
    max-width: 20%;
    margin: 0 25px;
}

.team-section ul li:nth-child(6) {
    max-width: 20%;
    margin: 0 25px;
    top: -50px
}

.team-section ul li:nth-child(7) {
    max-width: 20%;
    margin: 0 25px;
    top: -20px
}

@media only screen and (max-width:767px) {
    .team-section ul li {
        max-width: 100% !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
        top: 0 !important
    }
}

body {
    background-color: #fff;
}